/*FUENTES*/
$font-alata: 'Alata', sans-serif;
$font-play: 'Play', sans-serif;

/*COLORES*/
$negro: #0D090A;
$vio_oscuro: #361F27;
$violeta: #521945;
$vio_claro: #912F56;
$blanco: #EAF2EF;
$dorado: #FFD700;
