.nav{
    width: 100%;
    @include pad-marg(0,0);
    background-color: $violeta;
    &__cont{
        background-color: $violeta;
        @include pad-marg(1%,0);
        &__logo{
            justify-content: left;
            font-family: $font-play;
            font-size: 40px;
            font-weight: 700;
            color: $blanco;  
        }
        &__nav1{
            justify-content: right;
            &__nav2{
                a{
                    font-family: $font-play;
                    font-size: 30px;
                    color: $blanco;
                }
            }
        }
    }
}
.footer{
    width: 100%;
    &__cont{
        background: linear-gradient(to bottom, $violeta, $vio_claro);
        align-items: center;
        a{
            text-decoration: none;
            h4{
                justify-content: center;
                font-family: $font-play;
                font-size: 40px;
                font-weight: 700;
                color: $blanco;
            }
        }
        p{
            font-family: $font-alata;
            font-size: 30px;
            color: $blanco;
            justify-content: center;
            a{
                font-size: 30px;
            }
        }
    }
    
    
}