.nos{
    background-color: $vio_claro;
    display: flex;
    flex-direction: row;
    @include pad-marg(4%,0);
    justify-items: center;
    &__rz{
        h2{
            font-family: $font-play;
            font-size: 2rem;
        }
        @include pad-marg(0,0);
    }
}