.portada{
    background-image: url('../assets/images/portada.jpg') ;
    @include w-h(100%, 400px);
    background-position: center;
    h1{
        color: $blanco;
        @include pad-marg(1% 2%,0);
        position: relative;
        top: 40%;
    }
    p{
        color: $blanco;
        @include pad-marg(0 2%,0);
        position: relative;
        top: 40%;
        font-size: 27px;
    }
}